*, *:after, *:before {
  box-sizing: border-box;
}

$pad: 20px;
$grid-cols: 12;

//breakpoints
$brk--phone: 768px;
$brk--tablet: 992px;
$brk--desktop: 1200px;

@mixin container-fluid(){
	padding: 0 $pad;
}

@mixin container(){
	max-width: 1200px;
	margin: 0 auto;
}

@mixin ratio($ratio){
	width: 100%/$grid-cols*$ratio;
	
	&:nth-child(#{$grid-cols/$ratio}n+1) {
		padding-right: 0px;
	}

	&:nth-child(#{$grid-cols/$ratio}n+2) {
		clear: both;
	}
}

@mixin column($ratio--phone, $ratio--tablet, $ratio--desktop, $ratio--superwide){
	margin: 0 0 $pad 0;
	float: left;
	padding-right: $pad;
	
	&:after {
		content: "";
		display: table;
		clear: both;
	}

	@media screen and (max-width: #{$brk--phone}-1){
		@include ratio($ratio--phone);
	}
	
	@media screen and (min-width: $brk--phone) and (max-width: #{$brk--tablet}-1){
		@include ratio($ratio--tablet);
	}

	@media screen and (min-width: $brk--tablet) and (max-width: #{$brk--desktop}-1){
		@include ratio($ratio--desktop);
	}

	@media screen and (min-width: $brk--desktop){
		@include ratio($ratio--superwide);
	}

	
}