/*-------------------------------------*\

	ID WEBSITE WORDPRESS THEME: ABOUT PAGE

	See style.css for the WP info.

	- Nils Westhoff
	- Floris Jansen, id@fmjansen.nl

	about.scss:
	+ about page top
	+ (board)
	+ (committee)
	+ honorary members

\*-------------------------------------*/





/*-------------------------------------*\
	About page top
\*-------------------------------------*/
.about {

	&__top {
		padding: .1rem 5%;
		margin: 0 0 5rem;
		background: var(--theme-color);
	}

	&__title {
		color: $background--light;
		max-width: 30rem;
	}

	&__sub-title {
		margin-top: .2em;
		text-align: center;

		&--light {
			color: $background--light;
		}
	}

	&__descr {
		color: $background--light;
		font-size: 1.3em;
		max-width: 30rem;
	}

	&__thumb {
		margin-bottom: -3rem;
	}

	&__img {
		width: 100%;
		height: auto;
	}

	&__descr-rest {
		column-gap: 3em;
		margin: 5em 5% 3em;
		max-width: 80em;


		p {
			margin-top: 0;
			margin-bottom: 1.4em;
		}

		@media (min-width: 650px) {
			column-count: 2;
		}

		@media (min-width: $brk--phone) {
			margin: 6em 8% 4em;
		}

		@media (min-width: $brk--tablet) {
			margin: 7em 10% 5em;
		}

		@media (min-width: $brk--desktop) {
			column-count: 3;
		}

		@media (min-width: 1600px) {
			column-gap: 4em;
		}
	}

	&__jump {
		text-align: center;
		background: var(--theme-color);
		margin: 3em 5%;
		padding: 1em;
		color: $background--light;

		&-link {
			color: $background--light;
		}

		@media (min-width: $brk--phone) {
			margin: 4em 8%;
		}

		@media (min-width: $brk--tablet) {
			margin: 5em 10%;
		}
	}

	@media (min-width: $brk--phone) {
		&__top {
			padding: .1rem 8%;
		}

		&__thumb {
			&:after {
				display: block;
				content: "";
				clear: both;
			}
		}

		&__img {
			width: 70%;
			float: right;
		}
	}

	@media (min-width: $brk--tablet) {
		&__top {
			padding: 4rem 10%;
		}

		&__descr,
		&__title {
			max-width: 36rem;
		}

		&__thumb {
			margin-bottom: -7rem;
		}
	}
}





/*-------------------------------------*\
	Board
\*-------------------------------------*/
.board {
	text-align: center;
	margin: 1.5em 0 3rem;

	@media (min-width: $brk--tablet) {
		margin: 4% 0 10%;
	}

	&__indication {
		margin: .5em;
		font-family: $font--heavy;
		opacity: .5;
	}

	&__img {
		max-width: 100%;
		width: 44rem;
		height: auto;

		@media (min-width: $brk--desktop) {
			width: 60%;
		}
	}

	&__description {
		@extend .primary-content;
		text-align: left;

		p {
			line-height: 1.6;
		}
	}

	&--small {
		border-top: .44em solid #ef686c;
	}
}





/*-------------------------------------*\
	Committees
\*-------------------------------------*/
.committees {
	margin: 15% 0 15%;

	@media (min-width: $brk--tablet) {
		margin: 10% 0 10%;
	}

	&__grid {
		@include flex-container();
		justify-content: center;
		max-width: 1500px;
		margin: 2em auto;

		@media (min-width: $brk--tablet) {
			margin-top: 3rem;
		}
	}

	&__all {
		margin: 0 auto;
		display: block;
		width: 16rem;
		max-width: 100%;
		text-align: center;
		font-family: $font--heavy;
	}
}



$groups:
	(trips, #50b848),
	(social, #ec008c),
	(skills, #fbe309),
	(education, #f58220),
	(career, #00aeef);



.comm-group {
	background: var(--theme-color);
	border-top: .44em solid var(--theme-color);

	&__name {
		margin: 0;
		text-align: left;
		display: inline;
		color: $background--light;
	}

	@each $group, $color in $groups {
		&--#{$group} {
			background: $color;
			border-color: $color;
		}
	}
}



.committee {
	margin: 1rem;
	text-align: left;
	word-wrap: break-word;
	transition: all ease-out 100ms;
	flex-grow: 1;
	width: 10.5em;
	max-width: 280px;

	@media (min-width: 360px) {
		margin: 0 1.1rem 2rem;
	}

	&__thumb {
		width: 100%;
		padding-top: 66%;
		background-position: center;
		background-size: cover;
	}

	&__link {
		text-decoration: none;
		color: $text;

		&:hover {
			text-decoration: underline;
		}
	}

	&__name {
		margin: 1em 0 0;
		font-size: 1.5rem;
	}
}





.committees__tag {
	@each $group, $color in $groups {
		&--#{$group} {
			background: $color;
		}
	}
}





.all-committees-link {
	font-size: 1rem;
	color: white;

	&:before {
		content: "←";
	}
}





/*-------------------------------------*\
	Master communities
\*-------------------------------------*/
.master-coms,
.hon-mems {
	margin: 15% 0 15%;

	@media (min-width: $brk--tablet) {
		margin: 10% 0 10%;
	}

	&__list {
		margin-top: 2em;
		@include flex-container();
		justify-content: center;
		text-align: center;
	}
}



.master-com {
	width: 250px;

	&__link {
		text-decoration: none;
		color: var(--theme-color);

		&:hover {
			text-decoration: underline;
		}
	}

	&__thumb {
		max-width: 200px;
		height: auto;
	}

	&__logo {
		vertical-align: middle;
	}
}





/*-------------------------------------*\
	Honorary members
\*-------------------------------------*/
.hon-mems {
	&__explanation {
		@extend .primary-content;
		padding: 1em 0 0;

		p {
			line-height: 1.6;
			margin: 0;
		}
	}
}





.hon-mem {
	width: 200px;
	margin: 1.5em;

	&__link {
		text-decoration: none;
		color: var(--theme-color);

		&:hover {
			text-decoration: underline;
		}
	}

	&__avatar {
		height: 250px;
		width: 200px;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__type {
		margin-top: 0;
		color: #555;
		font-size: .9em;
	}

	&--page {
		background: var(--theme-color);
		padding: 1em;

		&__avatar {
			max-height: 50vh;
			margin-bottom: -10vh;
			width: 20em;
			overflow: hidden;
			text-align: center;
			z-index: 1;
			position: relative;
			transform: scale(.9) translate(-2.5vh, -5vh);
			box-shadow: 0 .1rem .5rem transparentize(black, 0.7);

			img {
				max-width: 100%;
				height: auto;
			}
		}

		&__descr {
			background: white;
			padding: 1.5em 2em;
			z-index: 2;
			position: relative;
			margin-left: 2.5vh;
			box-shadow: 0 .2rem 1rem transparentize(black, 0.7);
		}

		&__name {
			margin: 0 0 .5em;
			text-align: center;
			font-size: 1.8rem;
		}

		@media (min-width: $brk--phone) {
			overflow: hidden;
			position: relative;

			&__avatar {
				max-height: none;
				margin: 5vw 0 0 -40vw;
				position: absolute;
				max-width: 30vw;
				left: 50%;

				img { display: block; }
			}

			&__descr {
				max-width: 30em;
				margin: 10vw 5vw 10vw 30vw;
			}

			&__name {
				text-align: left;
				font-size: 2.4rem;
			}
		}

		@media (min-width: $brk--tablet) {
			&__avatar {
				margin-left: -35vw;
			}

			&__descr {
				margin-left: 38vw;
			}
		}

		@media (min-width: $brk--desktop) {
			&__avatar {
				margin-left: -20em;
			}

			&__descr {
				margin-left: 44vw;
			}
		}
	}
}
