/*-------------------------------------*\

	i.d-WEBSITE WORDPRESS THEME

	See style.css for the WP info.

	- Nils Westhoff
	- Floris Jansen, id@fmjansen.nl

	base.scss
	+ Variables (colors and fonts)
	+ Reset
	+ Bies
	+ Footer

	...

\*-------------------------------------*/





/*-------------------------------------*\
	Dependencies
\*-------------------------------------*/
@font-face {
	font-family: FuturaStd;
	src: url(../fonts/FuturaStd-Heavy.otf);
	font-weight: 700;
}

@font-face {
	font-family: FuturaBT;
	src: url(../fonts/FuturaBT-Light.otf);
	font-weight: 300;
}

@import "grid";



/*-------------------------------------*\
	Variables (colors and fonts)
\*-------------------------------------*/
$font--heavy: 'FuturaStd', sans-serif;
$font--light: 'FuturaBT', sans-serif;
$accent: #55ccbb;
$background--light: #fffaf1;
$background--dark: #998979;
$text: #444444;

//breakpoints
$brk--phone: 768px;
$brk--tablet: 998px;
$brk--desktop: 1200px;



/*-------------------------------------*\
	Reset
\*-------------------------------------*/

body {
	margin: 0;
	background: $background--light;
}





/*-------------------------------------*\
	Bies
\*-------------------------------------*/
// Holy bies
.bies {
	width: 100%;
	overflow: hidden;
	background: $background--dark;
	padding: 0 0 15px;
}

.bies__image {
	min-height: 65px;
	height: 65px;

	@media (min-width: 876px) {
		width: 100%;
		height: auto;
	}
}
// Amen





/*-------------------------------------*\
	News section
\*-------------------------------------*/
.news {
	h1 {
		font-family: $font--heavy;
		font-weight: 700;
		font-size: 3em;
		color: $background--dark;
	}

	@include container();
}

.news__item {
	display: block;
	
	@media screen and (max-width: $brk--phone){
		@include column(12);
	}
	@media screen and (min-width: $brk--phone) and (max-width: $brk--tablet){
		@include column(6);
	}
	@media screen and (min-width: $brk--tablet){
		@include column(4);
	}
}


.news__item__meta, .news__item__excerpt, .news__item__content {
	font-family:$font--light;
	font-weight: 300;
	font-size: 1em;
}

.news__item__title, .news__item__meta, .news__item__excerpt, .news__item__content {
	padding-left: 25px;
	margin:12px 0;
}

.news__item__thumb{
	display: block;
	width: 100%;
	height: auto;
}

.news__item__title {
	font-family:$font--heavy;
	font-weight: 700;
	font-size: 2em;
}

.news__item__meta {
	a{
		color: $accent;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

// Read more styles
.moretag {
	display: inline-block;
	padding: 0 0 0 14px;
	position: relative;
	background: no-repeat;
	border: none;
	border-radius: 0;
	color: black;
	font-family: $font--heavy;
	font-weight: 700;
	margin-top:12px;
	text-decoration: none;

	&:before, &:after {
		display: block;
		position: absolute;
		right: auto;
		left: 0;
		width: 4px;
		height: 50%;
		background: #010101;
		content: '';
		transition: width 0.3s cubic-bezier(0.77, 0, 0.175, 1), transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
		transform: none
	}

	&:before {
		top: 0;
		bottom: auto;
		transform-origin: 100% 100%
	}

	&:after {
		top: auto;
		bottom: 0;
		transform-origin: 100% 0
	}

	&:hover:before {
		width: 3px;
		transform: scaleX(1.3) translateX(5px) rotateZ(-36deg)
	}

	&:hover:after {
		width: 3px;
		transform: scaleX(1.3) translateX(5px) rotateZ(36deg)
	}
}