/*-------------------------------------*\

	i.d-WEBSITE WORDPRESS THEME

	See style.css for the WP info.

	- Nils Westhoff
	- Floris Jansen, id@fmjansen.nl

	base.scss
	+ Variables (colors and fonts)
	+ Reset
	+ Bies
	+ Footer

	...

\*-------------------------------------*/





/*-------------------------------------*\
	Dependencies
\*-------------------------------------*/
@font-face {
	font-family: FuturaStd;
	src: url(../fonts/FuturaStd-Heavy.otf);
	font-weight: 700;
}

@font-face {
	font-family: FuturaBT;
	src: url(../fonts/FuturaBT-Light.otf);
	font-weight: 300;
}

@import "grid";



/*-------------------------------------*\
	Variables (colors and fonts)
\*-------------------------------------*/
$font--heavy: 'FuturaStd', sans-serif;
$font--light: 'FuturaBT', sans-serif;
$accent: #55ccbb;
$background--light: #fffaf1;
$background--dark: #998979;
$background--gray: #444444;
$text: #444444;

$transition--cubic: cubic-bezier(0.77, 0, 0.175, 1);


/*-------------------------------------*\
	Reset
\*-------------------------------------*/

body {
	margin: 0;
	background: $background--light;
}





/*-------------------------------------*\
	Bies
\*-------------------------------------*/
// Holy bies
.bies {
	width: 100%;
	overflow: hidden;
	background: $background--dark;
	padding: 0 0 15px;
}

.bies__image {
	min-height: 65px;
	height: 65px;

	@media (min-width: 876px) {
		width: 100%;
		height: auto;
	}
}
// Amen





/*-------------------------------------*\
	Menu section
\*-------------------------------------*/
.menu {
	font-family: $font--light;
	position: fixed;
	top: 10em;
	right: 0px;
	background: rgba(44,44,44,.7);
	color: white;
	width: 220px;
	transform: translateX(150px);
	transition: transform 200ms $transition--cubic;

	&:hover{
		transform: translateX(0px);
	}
}

.menu__list {
	margin: 0;
	padding: 35px 0 35px 30px;
	list-style: none;
}

.menu-item {
	padding: 10px;

	a {
		text-decoration: none;
		color: white;
		
		&:hover {
			text-decoration: underline;
		}
	}
}


/*-------------------------------------*\
	News section
\*-------------------------------------*/
.news {
	h1 {
		font-family: $font--heavy;
		font-weight: 700;
		font-size: 3em;
		color: $background--dark;
	}

	@include container-fluid();
}

.news__item {
	display: block;
	
	@include column(12, 6, 4, 3);
}


.news__item__meta, .news__item__excerpt, .news__item__content {
	font-family:$font--light;
	font-weight: 300;
	font-size: 1em;
}

.news__item__title, .news__item__meta, .news__item__excerpt, .news__item__content {
	padding-left: 25px;
	margin:12px 0;
}

.news__item__thumb{
	display: block;
	width: 100%;
	height: auto;
}

.news__item__title {
	font-family:$font--heavy;
	font-weight: 700;
	font-size: 2em;

	a {
		text-decoration: none;
		color: black;	

		&:hover{
			text-decoration: underline;
		}
	}
}

.news__item__meta {
	a{
		color: $accent;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

// Read more styles
.moretag {
	display: inline-block;
	padding: 0 0 0 14px;
	position: relative;
	background: no-repeat;
	border: none;
	border-radius: 0;
	color: black;
	font-family: $font--heavy;
	font-weight: 700;
	margin-top:12px;
	text-decoration: none;

	&:before, &:after {
		display: block;
		position: absolute;
		right: auto;
		left: 0;
		width: 4px;
		height: 50%;
		background: #010101;
		content: '';
		transition: width 0.3s $transition--cubic, transform 0.3s $transition--cubic;
		transform: none
	}

	&:before {
		top: 0;
		bottom: auto;
		transform-origin: 100% 100%
	}

	&:after {
		top: auto;
		bottom: 0;
		transform-origin: 100% 0
	}

	&:hover:before {
		width: 3px;
		transform: scaleX(1.3) translateX(5px) rotateZ(-36deg)
	}

	&:hover:after {
		width: 3px;
		transform: scaleX(1.3) translateX(5px) rotateZ(36deg)
	}
}