/*-------------------------------------*\

	i.d-WEBSITE WORDPRESS THEME

	See style.css for the WP info.

	- Nils Westhoff
	- Floris Jansen, id@fmjansen.nl

	base.scss
	+ Variables (colors and fonts)
	+ Reset
	+ Bies
	+ Footer

	...

\*-------------------------------------*/





/*-------------------------------------*\
	Dependencies
\*-------------------------------------*/
@font-face {
	font-family: FuturaStd;
	src: url(../fonts/FuturaStd-Heavy.otf);
	font-weight: 700;
}

@font-face {
	font-family: FuturaBT;
	src: url(../fonts/FuturaBT-Light.otf);
	font-weight: 300;
}

@import "bourbon";
@import "neat";



/*-------------------------------------*\
	Variables (colors and fonts)
\*-------------------------------------*/
$font--heavy: 'FuturaStd', sans-serif;
$font--light: 'FuturaBT', sans-serif;
$accent: #55ccbb;
$background--light: #fffaf1;
$background--dark: #998979;
$text: #444444;

//breakpoints
$brk--phone: new-breakpoint(min-width 480px 4);
$brk--tablet: new-breakpoint(min-width 768px 8);
$brk--desktop: new-breakpoint(min-width 992px 12);



/*-------------------------------------*\
	Reset
\*-------------------------------------*/

body {
	margin: 0;
	background: $background--light;
}





/*-------------------------------------*\
	Bies
\*-------------------------------------*/
// Holy bies
.bies {
	width: 100%;
	overflow: hidden;
	background: $background--dark;
	padding: 0 0 15px;
}

.bies__image {
	min-height: 65px;
	height: 65px;

	@media (min-width: 876px) {
		width: 100%;
		height: auto;
	}
}
// Amen





