/*-------------------------------------*\

	ID WEBSITE WORDPRESS THEME: CALL TO
    ACTION

	See style.css for the WP info.

	- Nils Westhoff
	- Floris Jansen, id@fmjansen.nl

	cta.scss:
  + Call to action

\*-------------------------------------*/





/*-------------------------------------*\
	Call to action
\*-------------------------------------*/
.call-to-action {
  background: var(--theme-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;

  &__head {
    padding: 2.5vw;
    text-align: center;
    width: 100%;
  }

  &__question {
    color: $background--light;
    margin: 0;
  }

  &__group {
    background: $background--light;
    border-radius: .5em;
    box-shadow: 0 .2rem 1rem transparentize(black, .7);
    flex-grow: 1;
    flex-shrink: 1;
    margin: 1em;
    max-width: 26rem;
    padding: 30px;
    width: 16rem;

    @each $group, $color in $groups {
      &--#{$group} {
        --group-color: #{$color};
      }
    }
  }

  &__group-name {
    color: var(--group-color, #000);
    margin-top: 0;
    text-align: center;
  }

  &__options {
    padding-left: 1.5em;

    li {
      margin: 8px 0;
    }

    a {
      color: $text;
      display: block;
      padding: .1rem 0;
      text-decoration-color: var(--group-color, var(--theme-color));
    }
  }

  .button {
    background: var(--group-color, var(--theme-color));
    text-align: center;
    width: 100%;
  }

  & + .pri-footer {
    margin-top: -5em;
    padding-top: 5em;
  }
}
