/*-------------------------------------*\

    Started by Emil Flach
	Education page and page specific styling
	education.scss (included in base.scss):

\*-------------------------------------*/



.education {
  &__top {
    background: $accent;
    margin: 0;
		padding: .1rem 5% 1rem;
	}

  @media (min-width: $brk--phone) {
		&__top {
			padding: .1rem 8% 1rem;
		}
  }

  &__title {
    color: $background--light;
    font-size: 3em;
    margin: 0;

    &--light {
      opacity: .7;
    }
  }

  &__content {
		color: $background--light;
		max-width: 30rem;
  }

  &-process, &-news {
    h2 {
      text-align: center;
      color: $background--dark;
      width: 100%;
    }
  }

  &-process {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    flex-grow: 1;
    width: 440px;
    max-width: $brk--large-desktop;
    margin: 0 auto 4rem;
    padding: 0 2rem;

    @media(max-width: $brk--desktop) {
      margin-bottom: 2rem;
    }

    &__item-wrap {
      position: relative;
      width: 100%;
      margin-bottom: 4em;
      max-width: 350px;
    }

    &__item {
      width: 100%;
      padding-top: 100%;
      background: center;
      background-size: contain;
      background-repeat: no-repeat;

      @media (min-width: $brk--phone) {
        width: 70%;
        padding-top: 70%;
        margin: auto;
      }

      &-title {
        text-align: center;
        font-size: 1.6em;
      }
    }
  }

  &-news {
    margin: 0 auto;
  }


  &-about {
    position: relative;
    text-align: center;
    max-width: $brk--phone;
    margin: 0 auto 4rem;
    padding: 1rem;

    img {
      position: relative;
      z-index: 1;
      width: 100%;
    }

    &__description {
      max-width: $brk--tablet;
      text-align: left;
      padding: 2rem 1rem 1rem;
      margin: 0 auto;

    }
  }
}
