/*-------------------------------------*\

	i.d-WEBSITE WORDPRESS THEME: EVENT

	See style.css for the WP info.

	- Nils Westhoff
	- Floris Jansen, id@fmjansen.nl

	event.scss:
	+ large event (shown on frontpage)
	+ small event (shown on frontpage
		and event overview)
	+ event page
	+ date block

\*-------------------------------------*/






/*-------------------------------------*\
	Large event
\*-------------------------------------*/
.event--large {
	background: $background--dark;
	overflow: hidden;
	position: relative;
	height: 60vh;

	@media (min-width: $brk--phone) {
		height: 80vh;
	}
}

.event--large__thumb {
	max-height: 80%;
	max-width: 90%;
	width: auto;
	height: auto;
	position: absolute;
	right: 5%;
	box-shadow: 0 1.5rem 4rem transparentize(black, 0.7);

	@media (min-width: $brk--phone) {
		max-width: 60%;
		right: 10%;
		top: 50%;
		transform: translateY(-50%);
	}
}

.event--large__name {
	font-size: 3.5em;
	color: white;
	position: absolute;
	top: 35%;
	left: 10%;
	text-shadow: 0 .5rem 1rem transparentize(black, 0.7);
}






/*-------------------------------------*\
	Small event
\*-------------------------------------*/
.events--small {
	@include container-fluid();
}

.event--small {
	position: relative;
	@include columns(12, 6, 4, 3);
}

.event--small__anchor {
	text-decoration: none;
}

.event--small__thumb {
	box-shadow: 0 .2rem 1rem transparentize(black, 0.7);
	padding-top: 50%;
	height: 0;
	width: 100%;
	overflow: hidden;
}

.event--small__img {
	margin-top: -50%;
	width: 100%;
	height: auto;
}

.event--small__name {
	font-size: 1.3em;
	margin: .8em 0 .3em;
	color: $text;
}

.event--small__datetime {
	margin: .3em 0 1em;
	color: $text;
}






/*-------------------------------------*\
	Event page
\*-------------------------------------*/
.event--page__header {
	background: $background--dark;
	padding: .1rem 0 4rem;
}

.event--page__short-info {
	width: 75%;
	margin: 1rem 0 10% 12.5%;
	padding: 2rem 2rem 2rem;
	border: .7rem solid $background--light;
}

.event--page__name {
	margin: 0;
	color: $background--light;
	text-align: left;
}

.event--page__time {
	color: $background--light;
	margin: .7rem 0;
}

.event--page__thumb {
	width: 160%;
	max-width: 80vw;
	margin: 5% -34% -4rem 5%;
	float: right;
}

.event--page__img {
	width: 100%;
	height: auto;
	box-shadow: 0 .5rem 1rem transparentize(black, 0.8);
}

@media (min-width: 550px) {
	.event--page__short-info {
		width: 64%;
	}
}

@media (min-width: $brk--phone) {
	.event--page__short-info {
		width: 50%;
	}

	.event--page__thumb {
		margin-right: -50%;
	}

	// .event--page__short-info {
	// 	margin-top: -3.5rem;
	// }
	//
	// .event--page__name {
	// 	display: inline-block;
	// 	margin: .5em 0 .5em -5.5rem;
	// 	padding-left: 7rem;
	// }
}






/*-------------------------------------*\
	Date block (recognizable element for
	an event, similar to how Facebook
	shows event dates)
\*-------------------------------------*/
.date-block {
	border-radius: .4rem;
	text-align: center;
	width: 4.8rem;
	background: white;
	display: inline-block;
	box-shadow: 0 .2rem .5rem transparentize(black, 0.8);
	color: $text;
	margin: -4rem -4rem 5% 5%;
	float: right;
}

.date-block__day {
	font-size: 2rem;
	font-family: $font--heavy;
	margin: .1rem 0 .5rem;
}

.date-block__month {
	font-size: .9rem;
	margin: .5rem 0 .1rem;
}
