/*-------------------------------------*\

	i.d-WEBSITE WORDPRESS THEME: EVENT

	See style.css for the WP info.

	- Nils Westhoff
	- Floris Jansen, id@fmjansen.nl

	event.scss:
	+ large event (shown on frontpage)
	+ small event (shown on frontpage
		and event overview)
	+ event page
	+ date block

\*-------------------------------------*/






/*-------------------------------------*\
	Large event
\*-------------------------------------*/
.event--large {
	background: $background--dark;
	overflow: hidden;
	position: relative;
	height: 60vh;

	@media (min-width: $brk--phone) {
		height: 80vh;
	}
}

.event--large__thumb {
	max-height: 80%;
	max-width: 90%;
	width: auto;
	height: auto;
	position: absolute;
	right: 5%;
	box-shadow: 0 1.5rem 4rem transparentize(black, 0.7);

	@media (min-width: $brk--phone) {
		max-width: 60%;
		right: 10%;
		top: 50%;
		transform: translateY(-50%);
	}
}

.event--large__name {
	font-size: 3.5em;
	color: white;
	position: absolute;
	top: 35%;
	left: 10%;
	text-shadow: 0 .5rem 1rem transparentize(black, 0.7);
}






/*-------------------------------------*\
	Small event
\*-------------------------------------*/
.events--small {
	@include container-fluid();
}

.event--small {
	position: relative;
	@include columns(12, 6, 4, 3);
}

.event--small__anchor {
	text-decoration: none;
}

.event--small__thumb {
	box-shadow: 0 .2rem 1rem transparentize(black, 0.7);
	padding-top: 50%;
	height: 0;
	width: 100%;
	overflow: hidden;
}

.event--small__img {
	margin-top: -50%;
	width: 100%;
	height: auto;
}

.event--small__name {
	font-size: 1.3em;
	margin: .8em 0 .3em;
	color: $text;
}

.event--small__datetime {
	margin: .3em 0 1em;
	color: $text;
}






/*-------------------------------------*\
	Event page
\*-------------------------------------*/
.event--page__header {
	background: $background--dark;
	padding: .1rem 0 4rem;
}

.event--page__short-info {
	width: 75%;
	margin: 1em 0 10% 12.5%;
	padding: 2em;
	border: .7em solid $background--light;
}

.event--page__name {
	margin: 0;
	color: $background--light;
	text-align: left;
	position: relative;
	z-index: 2;
}

.event--page__datetime {
	color: $background--light;
	margin: .7rem 0;
	position: relative;
	z-index: 2;
}

.event--page__thumb {
	width: 160%;
	max-width: 80vw;
	margin: 5% -34% -4rem 5%;
	float: right;
	position: relative;

	&:before {
		display: block;
		content: "";
		width: 10em;
		height: 10em;
		background-image: linear-gradient(to bottom right, transparentize($accent, .1) 0%, transparent 50%);
		position: absolute;
		top: 0;
		left: 0;
	}
}

.event--page__img {
	width: 100%;
	height: auto;
	box-shadow: 0 .5rem 1rem transparentize(black, 0.8);
}

@media (min-width: 550px) {
	.event--page__short-info {
		width: 64%;
	}

	.event--page__thumb {
		width: 130%;
	}
}

@media (min-width: $brk--phone) {
	.event--page__short-info {
		width: 50%;
	}

	.event--page__thumb {
		margin-right: -90%;
		margin-top: -15%;
		width: 120%;
	}
}

@media (min-width: $brk--tablet) {
	.event--page__short-info {
		width: 36%;
		margin: 3em 0 10% 18%;
		padding: 3em;
	}

	.event--page__thumb {
		margin-top: -20%;
		margin-right: -130%;
		width: 170%;
	}
}
