*,
*:after,
*:before {
	box-sizing: border-box;
}

$pad: 20px;
$grid-cols: 12;

//breakpoints
$brk--real-phone: 568px;
$brk--phone: 768px;
$brk--tablet: 992px;
$brk--desktop: 1200px;
$brk--large-desktop: 1920px;

// oud systeem (even laten staan voor legacy, mag later weg)

@mixin container-fluid() {
	padding: 0 $pad;

	&:after {
		clear: both;
		content: "";
		display: block;
	}
}

@mixin container() {
	max-width: 1200px;
	margin: 0 auto;

	&:after {
		clear: both;
		content: "";
		display: block;
	}
}

@mixin ratio($ratio) {
	width: 100%/$grid-cols*$ratio;

	&:nth-of-type(#{$grid-cols/$ratio}n) {
		padding-right: 0px;
	}
}

@mixin columns($ratio--phone, $ratio--tablet, $ratio--desktop, $ratio--superwide) {
	margin: 0 0 $pad 0;
	float: left;
	padding-right: $pad;

	&:after {
		content: "";
		display: table;
		clear: both;
	}

	@media (max-width: #{$brk--phone}-1) {
		@include ratio($ratio--phone);
	}

	@media (min-width: $brk--phone) and (max-width: #{$brk--tablet}-1) {
		@include ratio($ratio--tablet);
	}

	@media (min-width: $brk--tablet) and (max-width: #{$brk--desktop}-1) {
		@include ratio($ratio--desktop);
	}

	@media (min-width: $brk--desktop) {
		@include ratio($ratio--superwide);
	}


}

// Nieuw gridsysteem op basis van Flexbox
@mixin flex-container() {
	padding: 0 $pad;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}