/*-------------------------------------*\

	ID WEBSITE WORDPRESS THEME: KAFEE

	See style.css for the WP info.

	- Nils Westhoff
	- Floris Jansen, id@fmjansen.nl

	kafee.scss:
	+ Kafee Page

\*-------------------------------------*/





/*-------------------------------------*\
	Kafee Page
\*-------------------------------------*/
.kafee--page {
	&__container {
		background-color: $background--light;
		border: 1px solid rgba(0, 0, 0, 0.08);
		margin: 0 auto 56px;
		padding: 3em;
		width: 90%;
		max-width: 50rem;

		img {
			max-width: 100%;
			height: auto;
		}
	}

	&__blocktitle {
		flex: 0 100%;
		margin: 0px;
	}
}





.isitkafee {
  background: $background--light;
  color: $text;
  text-align: center;

  &__question {
    color: $text;
  }

  &__answer {
    font-size: 3em;
    font-weight: $bold-weight;
    margin: .2em 0 0;
  }

  &__countdown {
    text-align: center;
  }

  &--no &__answer {
    color: var(--theme-color);
  }

  &--yes &__answer {
    color: $success-color;
  }

  &__disclaimer {
    font-size: .8em;
		margin-bottom: 0;
    opacity: .7;
  }
}
