/*-------------------------------------*\

	i.d-WEBSITE WORDPRESS THEME: KAFEE

	See style.css for the WP info.

	- Nils Westhoff
	- Floris Jansen, id@fmjansen.nl

	kafee.scss:
	+ Kafee Page

\*-------------------------------------*/





/*-------------------------------------*\
	Kafee Page
\*-------------------------------------*/
.kafee--page {

	&__header {
		padding: .1rem 0 4rem;
		margin-bottom: 34%;

		@media (min-width: 550px) {
			margin-bottom: 30%;
		}

		@media (min-width: $brk--phone) {
			margin-bottom: 7%;
		}

		@media (min-width: $brk--tablet) {
			margin-bottom: -2.4em;
		}

		@media (min-width: 1500px) {
			margin-bottom: -4em;
		}

		&--short-header {
			margin-bottom: 1rem;
			padding-bottom: .1rem;
		}
	}

	&__link {
		text-decoration: none;
	}

	&__short-info {
		width: 80%;
		margin: 1em 0 10% 10%;
		padding: 2em;
		border: .7em solid $background--light;
		text-decoration: none;

		&--short-header {
			margin-bottom: -4em;
			background: $hex-kafee;
		}
	}

	&__indication {
		line-height: 2rem;
		color: $background--light;
		text-transform: uppercase;
		font-size: .8em;
		font-family: $font--heavy;
	}

	&__name {
		font-size: 3em;
		margin: 0;
		color: $background--light;
		text-align: left;
		position: relative;
		z-index: 2;
	}

	&__kafee {
		color: $background--light;
		margin: .7rem 0;
		position: relative;
		z-index: 2;
		word-wrap: normal;
		hyphens: none;

		a, h3, p {
			color: $background--light;
			text-decoration: none;
		}

		p {
			margin-top: 0px;
		}

		h3 {
			margin-bottom: 0px;
		}

		a:hover, a:focus {
			text-decoration: underline;
		}
	}

	&__thumb {
		width: 160%;
		max-width: 75vw;
		margin: 5% -25% 2rem 15%;
		float: right;
		position: relative;

		&:before {
			display: block;
			content: "";
			width: 10em;
			height: 10em;
			background-image: linear-gradient(to bottom right, transparentize($hex-kafee, .1) 0%, transparent 50%);
			position: absolute;
			top: 0;
			left: 0;
			transition: background-image $transition--cubic;
		}
	}

	&__img {
		width: 100%;
		height: auto;
		box-shadow: 0 .5rem 1rem transparentize(black, 0.8);
	}

	&__container {
		background-color: $background--light;
		border: 1px solid rgba(0, 0, 0, 0.08);
		margin: 0 auto 56px;
		padding: 3em;
		width: 90%;
		max-width: 50rem;

		img {
			max-width: 100%;
			height: auto;
		}
	}

	&__blocktitle {
		flex: 0 100%;
		margin: 0px;
	}

	&__content {
		padding-top: 4em;
	}

	@media (min-width: 550px) {
		&__short-info {
			width: 64%;
		}

		&__thumb {
			width: 130%;
		}
	}

	@media (min-width: $brk--phone) {
		&__short-info {
			width: 50%;
		}

		&__thumb {
			margin-right: -90%;
			margin-top: -15%;
			width: 120%;
		}
	}

	@media (min-width: $brk--tablet) {
		&__short-info {
			width: 38%;
			margin: 3em 0 10% 14%;
			padding: 3em;

			&--short-header {
				margin-bottom: -6rem;
			}
		}

		&__thumb {
			margin-top: -75%;
			margin-right: -140%;
			width: 160%;
		}

		&__content {
			padding-top: 6rem;
		}
	}
}

/*-------------------------------------*\
	Kafee Reservation Form
\*-------------------------------------*/

.reserve-kafee {
  &__label {
    margin: 1.6em 0 .5em;
    display: block;
    color: black;
		font-size: .8em;
    font-family: $font--heavy;

    &--right {
      flex-grow: 1;
      flex-basis: 10em;
      display: block;
      width: 10em;
      margin: 0;
    }

		&--toggle {
			display: inline-block;
			max-width: 90%;
		}
  }

	&__small-label {
		display: block;
		font-size: .9em;
		margin: .3rem 0;
	}

	&__input-group {
		display: inline-block;

		@media (max-width: $brk--real-phone) {
			display: block;
		}
	}

  &__input-message,
  &__input-short,
	&__input-date {
    position: relative;
    width: 100%;
    padding: 1rem;
    border: 1px solid darken($background--light, 10%);
    border-radius: 4px;
    transition: transform .25s ease,
      opacity .25s ease-out;
    font-family: $font--light;
    font-size: 1em;
    color: black;
    outline: none;
    appearance: none;
    background: darken($background--light, 2%);

    &::placeholder {
      color: white;
      opacity: .8;
    }

		&::-webkit-inner-spin-button {
			display: none;
		}
  }

  &__toggle-button {
		-webkit-appearance: none;
		appearance: none;
		position: relative;
		display: block;
		height: 1.2rem;
		width: 1.2rem;
		border: 1px solid darken($background--light, 10%);
    border-radius: 3rem;
		color: black;
    outline: none;
		background-color: darken($background--light, 2%);

		&:checked {
			&:after {
				content: '';
				background-color: $accent;
				position: absolute;
				top: 3px;
				left: 3px;
				right: 3px;
				bottom: 3px;
				border-radius: 3rem;
			}
		}
	}

  &__validate-and-send {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 1.5em 0;
    padding: 2em 0;
    border-top: 1.5px solid transparentize($background--light, 0.5);
  }

  &__submit {
    margin: 1em 0 1em 2em;
    display: block;
  }

  &-feedback {
    max-width: 36rem;
    position: relative;

    &--sending {
      button {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
      }
    }

    &--success {
      textarea {
        transform: translateX(150%);
        opacity: 0;
      }
    }

    &--success {
      .education-feedback__message--failed {
        opacity: 0;
      }
    }

    &--failed {
      .education-feedback__message--success {
        opacity: 0;
      }
    }

    &__message--success {
      position: absolute;
      top: 10em;
      left: 2rem;
      right: 2rem;
      color: white;
      text-align: center;
      transform: translateY(-50%);
    }

    &__message--failed {
      padding: 1em;
      margin: .5em 0;
      background: #ca1414;
      color: $background--light;
    }

    &__link {
      color: $background--dark;
    }
  }
}
