/*-------------------------------------*\

	ID WEBSITE WORDPRESS THEME: LOGIN

	See style.css for the WP info.

	- Nils Westhoff
	- Floris Jansen, id@fmjansen.nl

	login.scss:
	+ Login Page

\*-------------------------------------*/





/*-------------------------------------*\
	Login Page
\*-------------------------------------*/
.login {
  background: var(--theme-color);
  margin-bottom: 0;
  position: relative;

  &__title {
    color: $background--light;
  }

  &__wrap {
    &--working {
      opacity: 0.5;

      button {
        cursor: default;
        pointer-events: none;
      }
    }
  }

  &__label {
    margin: 1em 0 .5em;
    display: block;
    color: $background--light;
    font-weight: $bold-weight;

    &--right {
      flex-grow: 1;
      flex-basis: 10em;
      display: block;
      width: 10em;
      margin: 0;
    }
  }

  &__label-supplement {
    opacity: .9;
    font-weight: 300;
  }

  &__input {
    position: relative;
    width: 100%;
    padding: 1rem;
    border: 1.5px solid $background--light;
    border-radius: 4px;
    transition: transform .25s ease,
      opacity .25s ease-out;
    font-size: 1em;
    color: $background--light;
    appearance: none;
    background: none;

    &::placeholder {
      color: $background--light;
      opacity: .8;
    }
  }

  &__remember {
    flex-flow: row wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.7em 0;
  }

  &__form {
    max-width: 32rem;
    position: relative;

    &--success {
      border: 2px solid $background--light;
      padding: 1em;
      margin: .5em 0;
      background: transparentize(black, 0.9);
      color: $background--light;
    }

    &--failed {
      padding: 1em;
      margin: .5em 0;
      background: #ca1414;
      color: $background--light;
    }

    &__message--success {
      color: $background--light;
    }
  }

  &__right-column {
    margin-top: 1em;
    margin-bottom: 1em;

    @media (min-width: $brk--desktop) {
      position: absolute;
      top: 10em;
      left: 10%;
      transform: translate(36rem, 0);
      padding-left: 4rem;
      margin: 0;
      right: 36rem + 4;
    }
  }

  &__divider {
    @media (min-width: $brk--desktop) {
      border-width: 0 0 0 1px;
      height: 14rem;
      width: 0;
      margin: 0;
      display: block;
      position: absolute;
      left: 0;
      top: 0.3em;
    }
  }

  &__divider-text {
    text-align: center;
    color: $background--light;
    margin: -2.2em auto 1em;
    display: block;
    width: 2em;
    background: var(--theme-color);

    @media (min-width: $brk--phone) {
      margin-top: -3.2em;
    }

    @media (min-width: $brk--tablet) {
      margin-top: -3em;
    }

    @media (min-width: $brk--desktop) {
      margin-top: 6.5rem;
      margin-left: -4.1em;
      position: absolute;
      padding-bottom: .2em;
    }
  }

  &__reg-text,
  &__reg-link[href] {
    color: $text;
  }

  &__reg-text {
    font-size: .85em;
    margin: 2.2rem 0;
  }

  &__netid {
    &:hover {
      background: #00a6d6;
      color: $background--light;
    }

    &-name {
      font-weight: $bold-weight;
    }
  }

  &__information {
    text-align: left;
    color: $background--light;
    max-width: 36rem;
  }
}
