/*-------------------------------------*\
	News
\*-------------------------------------*/
.news {
	@include container-fluid();
}

.news__item {
	display: block;

	@include columns(12, 6, 4, 3);
}


.news__item__meta, .news__item__excerpt, .news__item__content {
	font-family:$font--light;
	font-weight: 300;
	font-size: 1em;
}

.news__item__title, .news__item__meta, .news__item__excerpt, .news__item__content {
	padding-left: 25px;
	margin:12px 0;
}

.news__item__thumb{
	display: block;
	width: 100%;
	height: auto;
}

.news__item__title {
	font-family:$font--heavy;
	font-weight: 700;
	font-size: 2em;

	a {
		text-decoration: none;
		color: black;

		&:hover{
			text-decoration: underline;
		}
	}
}

.news__item__meta {
	a{
		color: $accent;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

// Read more styles
.moretag {
	display: inline-block;
	padding: 0 0 0 14px;
	position: relative;
	background: no-repeat;
	border: none;
	border-radius: 0;
	color: black;
	font-family: $font--heavy;
	font-weight: 700;
	margin-top:12px;
	text-decoration: none;

	&:before, &:after {
		display: block;
		position: absolute;
		right: auto;
		left: 0;
		width: 4px;
		height: 50%;
		background: #010101;
		content: '';
		transition: width 0.3s $transition--cubic, transform 0.3s $transition--cubic;
		transform: none
	}

	&:before {
		top: 0;
		bottom: auto;
		transform-origin: 100% 100%
	}

	&:after {
		top: auto;
		bottom: 0;
		transform-origin: 100% 0
	}

	&:hover:before {
		width: 3px;
		transform: scaleX(1.3) translateX(5px) rotateZ(-36deg)
	}

	&:hover:after {
		width: 3px;
		transform: scaleX(1.3) translateX(5px) rotateZ(36deg)
	}
}
