/*-------------------------------------*\

	News messages (Report-i.d blog & news)
	news.scss (included in base.scss):
	+ news overview container
	+ news item (shown on frontpage
		and event overview)
	+ read more link
	+ news item page

\*-------------------------------------*/





/*-------------------------------------*\
	News overview container
\*-------------------------------------*/
.news {
	@include flex-container();
	padding: 0 1.5*$pad;

	@media (min-width: $brk--phone) {
	}

	&__section-title {
		margin-left: 0;
		margin-right: 0;

		@media (min-width: $brk--phone) {
			flex-basis: 40%;
			margin-left: 1.5 * $pad;
			margin-right: 1.5 * $pad;
		}
	}

	&__archive-link {
		flex: 0 0 100%;
		font-size: 1.2em;
		margin-bottom: 2em;

		a {
			color: #000;
			text-decoration: none;

			&:focus, &:hover {
				text-decoration: underline;
			}
		}

		@media (min-width: $brk--phone) {
			margin-left: 1.5 * $pad;
			margin-right: 1.5 * $pad;
			flex-basis: 40%;
			text-align: right;
			vertical-align: bottom;
			height: 1em;
			margin-top: 3.5em;
			margin-bottom: .5em;
		}
	}
}





/*-------------------------------------*\
	News item
\*-------------------------------------*/
.news-item {
	max-width: 600px;
	padding: 1em 0;

	@media (min-width: 512px) {
 		min-width: 344px;
 		flex: 1;
		padding: $pad * 1.5;
	}

	@media (min-width: 1415px) {
		min-width: 380px;
	}

	@media (min-width: 1600px) {
		min-width: 480px;
	}

	&__thumb {
		display: block;
		width: 100%;
		height: 244px;
		object-fit: cover;
		margin-bottom: 1.5em;
	}

	&__link {
		text-decoration: none;
		color: black;

		&:hover {
			text-decoration: underline;
		}
	}

	&__title {
		margin-top: 0;
	}

	&__meta {
		a {
			color: var(--theme-color);
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}





/*-------------------------------------*\
	News item page
\*-------------------------------------*/
.news-item {
	&__header {
		background: var(--theme-color);
		text-align: center;
		padding: .1rem;
		font-size: 1.1em;
		margin-bottom: 10%;

		&--short-header {
			margin-bottom: 0;
		}
	}

	&__title--large {
		color: $background--light;
		margin: 1em .5em .2em;
	}

	&__meta--large {
		color: $background--light;
		margin: 1.4em;
	}

	&__category {
		color: white;
		font-family: $font--heavy;
	}

	&__thumb--large {
		box-shadow: 0 .5rem 1rem transparentize(black, 0.8);
		margin: 0 auto -10%;
		max-width: 80%;
		width: auto;
		max-height: 70vh;
		height: auto;
		position: relative;
	}
}





/*-------------------------------------*\
	Read more link
\*-------------------------------------*/
.moretag {
	display: block;
	padding: 0 0 0 .6em;
	position: relative;
	background: no-repeat;
	border: none;
	border-radius: 0;
	color: $text;
	font-family: $font--heavy;
	font-weight: 700;
	margin-top: .4em;
	text-decoration: none;
	transition: padding 0.3s $transition--cubic;

	&:before,
	&:after {
		display: block;
		position: absolute;
		right: auto;
		left: 0;
		width: 3px;
		height: 30%;
		background: $text;
		content: '';
		transition:
			width 0.3s $transition--cubic,
			transform 0.3s $transition--cubic;
		transform: none
	}

	&:before {
		top: 18%;
		bottom: auto;
		transform-origin: 100% 100%
	}

	&:after {
		top: auto;
		bottom: 24%;
		transform-origin: 100% 0
	}

	&:hover{
		padding-left: .8em;

		&:before {
			transform: scaleX(1) translateX(5px) rotateZ(-36deg)
		}

		&:hover:after {
			transform: scaleX(1) translateX(5px) rotateZ(36deg)
		}
	}
}
