/*-------------------------------------*\

	i.d-WEBSITE WORDPRESS THEME: SMOELENBOEK

	See style.css for the WP info.

	- Nils Westhoff
	- Floris Jansen, id@fmjansen.nl

	smoelenboek.scss:
	+ Smoelenboek top

\*-------------------------------------*/





/*-------------------------------------*\
	Smoelenboek top
\*-------------------------------------*/
.smoelenboek {
  &__top {
		padding: .1rem 5%;
		margin: 0;
	  background: $accent;
  }

  &__title {
    color: white;
  }
}
