@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .social__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.social__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social__container--vimeo {
  @include aspect-ratio(16, 9);
  background-size:cover;
  background-position: center center;
  width: 500px;
  max-width: 33%;
}

.social__container--instagram {
  @include aspect-ratio(1, 1);
  background-size:cover;
  background-position: center center;
  width: 500px;
  max-width: 33%;
}