/*-------------------------------------*\

	ID WEBSITE WORDPRESS THEME: USER

	See style.css for the WP info.

	- Nils Westhoff
	- Floris Jansen, id@fmjansen.nl

	user.scss:
	+ User page top

\*-------------------------------------*/





/*-------------------------------------*\
	User page top
\*-------------------------------------*/
.user {
  background: var(--theme-color);

  &__top,
  &__mid {
		padding: .1rem 5% 1em;
		margin: 0;
	}

  &__info {
    color: white;
    display: flex;
    flex-flow: wrap row;

    &--working {
      opacity: 0.7;
    }

    &__column {
      padding: 0 2rem;
      min-width: 15em;
      width: 1px;
      flex-grow: 1;

      &--right {
        flex-grow: 2;
      }

      &--bottom {
        flex-basis: 100%;
      }
    }

    &__edit {
      cursor: pointer;

      &--change-password {
        margin-top: 1.5rem;
      }
    }

    &__edit,
    &__save,
    &__cancel,
    &__label {
      &.hidden {
        display: none;
      }
    }

    &__label {
      font-size: .8em;
      opacity: 0.8;
      display: block;
    }

    &__input {
      color: white;
      background: var(--theme-color);
      border: none;
      font-size: 1em;
      margin: .25rem 0 1rem 0;

      &--name {
        color: white;
        font-weight: $bold-weight;
        font-size: 2.4em;
      }

      &--editable {
        width: 100%;
      }

      &:not([readonly]) {
        border-bottom: dashed 1px white !important;
        text-decoration: none !important;

        &.invalid {
          color: #DD1144;
        }
      }

      &--on-light:not([readonly]) {
        color: $text;
        background: $background--light;
        border-bottom: dashed 1px #aaa !important;
      }

      &::placeholder {
        color: rgba(0,0,0,0.3);
      }
    }

    a {
      text-decoration: none;
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }

    &--succes {
      background: green;
    }

    &--failed {
      background: red;
    }

    .notification {
      min-width: 70%;
      margin: 0 2rem 1.5em;
    }
  }



  &__extra-edit {
    opacity: .8;
    margin-top: 2em;
    position: relative;

    &:before {
      display: block;
      content: "";
      width: 2rem;
      height: 1px;
      background: $background--light;
      position: absolute;
      top: -1rem;
    }
  }



  &__mid {
    background: rgba(0, 0, 0, 0.3);
  }

  &__heading {
    margin: .5em 2rem;
    color: $background--light;
  }

  &__instructions {
    margin: .5em 2rem 1.5rem;
    max-width: 40rem;
    color: $background--light;
  }

  &__password {
    padding: 0 2rem;
    margin-bottom: 2rem;
    max-width: 30rem;

    &--working {
      opacity: 0.7;
    }
  }






  @media (min-width: $brk--phone) {
		&__top,
    &__mid {
			padding: .1rem 8% 1.5em;
		}
  }

  @media (min-width: $brk--tablet) {
		&__top,
    &__mid {
			padding: 4rem 10% 2em;
		}
  }
}
