/*-------------------------------------*\

	Vacancies (vacatures)
	vacancy.scss (included in base.scss):
	+ vacancy overview container
	+ frontpage vacancy

\*-------------------------------------*/





/*-------------------------------------*\
	Vacancy overview container
\*-------------------------------------*/
.vacancies {
	&--frontpage {
		background: $background--dark;
		color: $background--light;
		@include flex-container();
		padding: 1rem;

		@media (min-width: $brk--phone) {
			padding: 2rem 2.5rem;
		}
	}


	&--archive {
		margin-bottom: 2rem;
		background: white;

		@media (min-width: $brk--phone) {
			width: 80%;
			max-width: 52rem;
			padding: 0;
			margin: 1.5rem auto 2rem;
		}
	}


	&__title {
		width: 100%;
		margin: .5em 1rem;

		@media (min-width: $brk--phone) {
			margin: 1rem;
		}

		@media (min-width: $brk--tablet) {
			margin: 1rem 1.5rem;
		}

		&--frontpage {
			color: $background--light;
		}
	}

	&__context {
		background: var(--theme-color);
		color: white;
		overflow: hidden;

		p {
			width: 80%;
			max-width: 50rem;
			margin: 0 auto 1em;
		}

		@media (min-width: $brk--phone) {
			padding-bottom: 2rem;
		}
	}
}

.archive__title--vacancies {
	margin-bottom: 0;
}





/*-------------------------------------*\
	Frontpage vacancy
\*-------------------------------------*/
.vacancy {
	margin: 1.5rem 1rem .5rem;

	@include flex-container();
	padding: 0;

	@media (min-width: 512px) {
		min-width: 412px;
		flex: 1;
		align-items: center;
	}

	@media (min-width: 1024px) {
		margin: 1rem 1.5rem;
	}

	&--full-width {
		width: 100%;
	}

	&--frontpage {
		@media (min-width: 512px) {
			min-width: 256px;
		}
	}

	&--archive {
		padding: 1.5rem 2rem 1.5rem;
		border-radius: .5em;
		box-shadow: 0 .2rem .6rem transparentize(black, .7);
	}

	&__header {
		text-align: center;
		background: var(--theme-color);
		padding: 1rem;

		@media (min-width: $brk--phone) {
			padding: .1rem 0 2rem;
		}
	}

	&__thumb {
		flex-grow: 0;
		flex-shrink: 0;
		margin: 0 auto 1rem;
		width: 250px;

		@media (min-width: 540px) {
			margin: 0 1.5rem 0 0;
			width: 150px;
		}

		@media (min-width: $brk--tablet) {
			margin-right: 2rem;
		}
	}

	&__logo-box {
		background: white;
		padding: 1.5rem;
		box-shadow: 0 .1rem .4rem transparentize(black, 0.8);
		margin: 1rem 0 2rem;
		display: inline-block;
		border-radius: .3rem;
		max-width: 90%;
	}

	&__logo {
		display: block;
		max-height: 5.8em;
		width: auto;
		max-width: 100%;
		height: auto;
		margin: auto;

		&--large {
			margin: 0;
		}
	}

	&__text {
		min-width: 256px;
		flex: 1;
		vertical-align: middle;

		@media (min-width: 412px) {
			min-width: 280px;
		}

		@media (min-width: 494px) {
			min-width: 256px;
			margin-bottom: 0;
		}
	}

	&__intro {
		margin: 0 0 .4rem;
		opacity: .6;

		&--frontpage {
			opacity: .75;
		}

		&--large {
			color: $background--light;
			opacity: .85;
			font-size: 1.2em;
		}

		&--small {
			margin-top: .5rem;
			opacity: 1;
		}
	}

	&__company {
		font-weight: bold;
	}

	&__link {
		color: $text;
		text-decoration: none;

		&--frontpage {
			color: $background--light;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	&__title {
		margin: 0px;

		&--large {
			color: $background--light;
			margin: .8rem 0;
		}
	}

	&__details {
		margin: .4rem 0 0;
		opacity: .6;

		&--frontpage {
			opacity: .75;
		}

		&--large {
			color: $background--light;
			opacity: .85;
			font-size: 1.2em;
		}

		&--archive {
			margin: -1.5rem -2rem 1.5rem;
			background: #eee;
			padding: 1.55rem 2rem;
			line-height: 1.3;
			font-size: 1rem;
			width: 100%;
			box-sizing: content-box;
		}
	}

	&__tag {
		display: inline-block;
	}

	&__separator {
		margin: 0 .35em;
	}

	&__archivelink {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $background--dark;
		text-decoration: none;
		color: $background--dark;
		padding: 1em;
		font-family: $font--heavy;
		font-size: 1.8em;

		&:hover,
		&:focus {
			background: $background--dark;
			color: $background--light;
		}

		&--frontpage {
			border-color: $background--light;
			color: $background--light;

			&:hover,
			&:focus {
				background: $background--light;
				color: $background--dark;
			}
		}
	}

	&__button-group {
		text-align: center;
		padding: .5rem 0 1rem;
	}

	&__button {
		margin: 0;
		font-size: .9em;
	}
}
